/* .ticker-animation {
      background-color: white;
      animation: 
        pulse 40s ease infinite alternate, 
        nudge 1000s linear infinite alternate;
        marquee 5s linear infinite;
        border-radius: 0%;
    }
    
    @keyframes pulse {
      0%, 100% {
        background-color:lightcyan ;
      }
      50% {
        background-color: orange;
      }
    }
    
    @keyframes nudge {
      0%, 100% {
        transform: translate(-5000, 0);
      }
      
      50% {
        transform: translate(-10000px, 0);
      }
      
      100% {
        transform: translate(-10000px, 0);
      }
    } */

    .ticker-div {
    white-space: nowrap;

    }

    .marquee {
      height: 25px;
      width: 100%;
      overflow: hidden;
      position: relative;
      background-color: black;
      color:white;
    }
    
    .marquee div {
      display: block;
      width: 200%;
      height: 30px;
      background-color: black;
      position: absolute;
      overflow: hidden;
      animation: marquee 50s linear infinite;
    }
    
    .marquee2 span {
      float: left;
      width: 50%;
      background-color: black;
    }
    
    @keyframes marquee {
      0% { left: 0; }
      100% { left: -100%; }
    }